<!DOCTYPE html>
<html lang="fr" ng-app="todoApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		<title>La ToDoList du petit Louc</title>

                <!-- Angularjs -->
                <script src="js/angular.min.js"></script>

                <!-- TODO controleur -->
                <script src="js/app.js"></script>

                <!-- un peu de STYLE -->
                <link href="css/style.less" rel="stylesheet/less">
                <script src="js/less.min.js" type="text/javascript"></script>

                <!-- Pour gérer le calendrier pour les due date des taches -->
                <script src="js/moment-with-locales.js"></script>
				<script src="js/angular-moment-picker.min.js"></script>
				<link href="css/angular-moment-picker.min.css" rel="stylesheet">

	</head>

	<body ng-controller="listManageCtrl">    

            <!-- SIDEBAR -->
            <aside class="col-sm-3 col-md-2">

                <!-- noms des listes -->
                <ul>
                    <li
                        ng-repeat="list in lists"
                        ng-click="click(list.listid);" 
                        ng-class="{listeActive: listeAffichee == list.listid}"
                        ng-mouseenter="showTrashlist=true"
                        ng-mouseleave="showTrashlist=false"
                        >
                        {{list.name}}
                        <img 
                            class="trash" 
                            src="img/trash-a.svg" alt="trash" 
                            ng-show="showTrashlist"
                            ng-click="deleteList(list.listid)"
                            />
                    </li>
                </ul>

                <!-- ajouter une nouvelle liste -->
                <form ng-submit="ajouterListe()">
                    <input type="text" placeholder="Une nouvelle liste ?" ng-model="nouvelleListe" />
                </form>

            </aside>

            <!-- MAIN SCREEN -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

                <!-- RAJOUTER UNE TACHE -->
                <form ng-submit="ajouterTache()" ng-show="listeAffichee != 0">
                    <input type="text" placeholder="Que dois-je faire ?" ng-model="nouvelleTache"/>
                </form>
    
                <!-- LISTE DE TACHES -->
                <ul ng-repeat="list in lists" ng-show="listeAffichee == {{list.listid}}" >
                    <li ng-repeat="item in list.taskslist | orderBy: order :reverse" ng-mouseenter="showTrashtask=true" ng-mouseleave="showTrashtask=false">
					
						<!-- UNE TACHE -->
                        <div class="tasktable">
                        
                            <div class="checkboxContainer rouge">
                                <div class="verticalAlign"></div>
                                <input type="checkbox" class="checkbox" ng-model="item.completed" ng-change="maj()"/>
                            </div>
                            
                            <div class="verticalSep"></div>
                            
                            <input 
                                type="text"
                                class="taskname"
                                ng-model="item.name"
                                ng-class="{completed: item.completed}"
                                ng-change="maj()"
                            />
							
							<div class="taskcell duedate" >
							    <span ng-class="{duedate_full : item.duedate, duedate_empty: !item.duedate}" ng-model="item.duedate" moment-picker="item.duedate" change="maj()">
                                    {{ (item.duedate | formatDate)|| 'Due date ..' }} 
                                </span>
                                <span>
                                    {{ item.duedate.fromNow() || 'Pas de due date' }}
                                </span>
							</div>

							<div class="taskcell trashtask trashtaskdiv">
								<img
									class="trashtask"
									src="img/trash-b.svg" align="right" alt="trash"
									ng-show="showTrashtask"
									ng-click="deleteTask(item.taskid)"
								/>
							</div>
                             
                        </div>
						
                    </li>
                    
					<img
						class="trash"
						src="img/megadone.svg" align="left" alt="done"
						ng-click="deleteTaskDone(item.completed)"
					/>
                    <div ng-click="order == 'duedate' ? reverse = !reverse : order = 'duedate'">Sort Date</div>
                    <div ng-click="order == 'name' ? reverse = !reverse : order = 'name'">Sort Name</div>
                    <div ng-click="order = 'taskid'">Unsorted</div>		
                    
                </ul>
            </div>
			
	</body>
</html>


